{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es"
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}